@tailwind base;
@tailwind components;
@tailwind utilities;

#modal-container.modal-in {
  transform: scale(1);
}
#modal-container.modal-in .modal-background {
  background: rgba(0, 0, 0, 0);
  animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.modal-in .modal-background .modal {
  opacity: 0;
  animation: scaleUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.modal-in.modal-out {
  animation: quickScaleDown 0s 0.5s linear forwards;
}
#modal-container.modal-in.modal-out .modal-background {
  animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.modal-in.modal-out .modal-background .modal {
  animation: scaleDown 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

@keyframes fadeIn {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 0.7);
  }
}
@keyframes fadeOut {
  0% {
    background: rgba(0, 0, 0, 0.7);
  }
  100% {
    background: rgba(0, 0, 0, 0);
  }
}
@keyframes scaleUp {
  0% {
    transform: scale(0.8) translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
}
@keyframes scaleDown {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
  100% {
    transform: scale(0.8) translateY(1000px);
    opacity: 0;
  }
}
@keyframes quickScaleDown {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.focused-tab::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 18px;
  height: 2px;
  background-color: black;
  bottom: 0;
  border: 1px solid black;
}

@keyframes shrink {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}

@keyframes expand {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.shrink {
  animation: shrink 0.3s forwards;
}

.expand {
  animation: expand 0.3s forwards;
}

.menu-shadow {
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); /* Older versions of Safari and Chrome */
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); /* Older versions of Firefox */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); /* Standard */
}

.menu-out {
  overflow: auto !important;
  position: absolute !important;
  bottom: 0px !important;
  -webkit-transform: translateY(-100%) !important;
  -ms-transform: translateY(-100%) !important;
  transform: translateY(-100%) !important;
  -webkit-transition:
    -webkit-transform 0.4s,
    transform 0.4s !important;
  -moz-transition: transform 0.4s !important;
  transition:
    -ms-transform 0.4s,
    -webkit-transform 0.4s,
    transform 0.4s !important;
  width: 100% !important;
}

.menu-in {
  overflow-y: auto !important;
  position: absolute !important;
  bottom: 0px !important;
  transition:
    -ms-transform 0.4s ease 0s,
    -webkit-transform 0.4s ease 0s,
    transform 0.4s ease 0s !important;
  width: 100% !important;
  z-index: 1999 !important;
  background-color: rgb(255, 255, 255) !important;
  pointer-events: all !important;
  transform: translateY(0px) !important;
  max-height: calc(100vh - 69px) !important;
}

.wrap-text {
  inline-size: 170px;
  line-height: 1rem;
  overflow-wrap: break-word;
  hyphens: manual;
}

.pac-container {
  background-color: #fff;
  position: absolute !important;
  z-index: 1000;
  border-radius: 2px;
  border-top: 1px solid #d9d9d9;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  display: none;
}

.pac-logo:after {
  content: '';
  padding: 1px 1px 1px 0;
  height: 16px;
  text-align: right;
  display: block;
  background-image: url();
  background-position: right;
  background-repeat: no-repeat;
  background-size: 120px 14px;
}
.hdpi.pac-logo:after {
  background-image: url();
}
.pac-item {
  cursor: pointer;
  padding: 0 4px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 30px;
  text-align: left;
  border-top: 1px solid #e6e6e6;
  font-size: 11px;
  background-color: coral;
  padding: 1rem;
  color: #999;
}
.pac-item:hover {
  background-color: #fafafa;
  background-color: cadetblue;
}
.pac-item-selected,
.pac-item-selected:hover {
  background-color: #ebf2fe;
  background-color: chartreuse;
}
.pac-matched {
  background-color: darkgoldenrod;
  font-weight: 700;
}
.pac-item-query {
  background-color: brown;
  font-size: 13px;
  padding-right: 3px;
  color: #000;
}
.pac-icon {
  background-color: chartreuse;
  width: 15px;
  height: 20px;
  margin-right: 7px;
  margin-top: 6px;
  display: inline-block;
  vertical-align: top;
  background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/autocomplete-icons.png);
  background-size: 34px;
}
.hdpi .pac-icon {
  background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/autocomplete-icons_hdpi.png);
}
.pac-icon-search {
  background-position: -1px -1px;
}
.pac-item-selected .pac-icon-search {
  background-position: -18px -1px;
}
.pac-icon-marker {
  background-position: -1px -161px;
}
.pac-item-selected .pac-icon-marker {
  background-position: -18px -161px;
}
.pac-placeholder {
  color: gray;
}

@keyframes moveUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-30px);
  }
}

@keyframes moveDown {
  0% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

#pin-container.dragging #svg-pin {
  animation: moveUp 0.5s ease-in-out forwards;
}

#pin-container.not-dragging #svg-pin {
  animation: moveDown 0.5s ease-in-out forwards;
}

.shrink-down {
  animation: shrink-down 0.5s ease-in-out forwards;
}

.scale-up {
  animation: scale-up 0.5s ease-in-out forwards;
}

@keyframes shrink-down {
  0% {
    transform: translateY(50%) translateX(-50%) scale(1);
  }
  100% {
    transform: translateY(50%) translateX(-50%) scale(0.3);
  }
}

@keyframes scale-up {
  0% {
    transform: translateY(50%) translateX(-50%) scale(0.3);
  }
  100% {
    transform: translateY(50%) translateX(-50%) scale(1);
  }
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  @apply appearance-none;
  margin: 0;
}

input[type='number'] {
  @apply appearance-none;
  -moz-appearance: textfield;
}

.photos-grid-height {
  grid-template-rows: 14rem;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #000;
  border-radius: 50%;
  opacity: 0.5;
  animation: pulsate 1.5s infinite ease-in-out;
}

.dot1 {
  animation-delay: -0.5s;
}

.dot2 {
  animation-delay: -0.25s;
}

@keyframes pulsate {
  0% {
    opacity: 0.2;
    transform: scale(0.8);
  }
  50% {
    opacity: 0.8;
    transform: scale(1.2);
  }
  100% {
    opacity: 0.2;
    transform: scale(0.8);
  }
}
